@model IEnumerable<CourseManager.BLLs.Classes.CourseDetail>

@{
    ViewBag.Title = "查看班级课程安排";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Back To List", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TeacherName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.CourseName)
        </td>
        
    </tr>
}

</table>
