<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <style>
            .sidebar{
                display: flex;
                flex-direction:column;
                justify-content:center;
            }
        </style>
    </head>
    <body>
        @Html.Action("Navbar","Home")
       
         <div class="container body-content">
             <div class="col-md-3">
                 <ul class="mav mavbar-nav sidebar">
                     <li>@Html.ActionLink("link.Name","link/Action","link.Controller")</li>
                     <li>@Html.ActionLink("link.Name","link/Action","link.Controller")</li>
                 </ul>
             </div>
            

            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 我的 ASP.NET MVC 应用程序</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
